<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Home Screen -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hidePageDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideDockBG</string>
			<key>label</key>
			<string>Hide Dock Background</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideDock</string>
			<key>label</key>
			<string>Hide Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.sangster.sbcustomize</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Your Dock Colour</string>
			<key>key</key>
			<string>dockColour</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableDockColour</string>
			<key>label</key>
			<string>Enabled Custom Dock Colour</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideFolderText</string>
			<key>label</key>
			<string>Hide Inner Folder Name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.sangster.sbcustomize</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Your Folder Colour</string>
			<key>key</key>
			<string>folderColour</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableFolderColour</string>
			<key>label</key>
			<string>Enable Folder Background Colour</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideFolderBackground</string>
			<key>label</key>
			<string>Hide Folder Background</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideFolderIconBackground</string>
			<key>label</key>
			<string>Hide Folder Icon Background</string>
		</dict>

		<!-- Lock Screen -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideNoti</string>
			<key>label</key>
			<string>Hide Notifications</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideOldNoti</string>
			<key>label</key>
			<string>Hide No Older Notifications</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideFaceIDLock</string>
			<key>label</key>
			<string>Hide FaceID Lock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideSwipeToUnlock</string>
			<key>label</key>
			<string>Hide Swipe To Unlock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideLSShortCuts</string>
			<key>label</key>
			<string>Hide Lockscreen Shortcuts</string>
		</dict>

		<!-- General -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>removeStatusBar</string>
			<key>label</key>
			<string>Hide Statusbar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableBatteryLabel</string>
			<key>label</key>
			<string>Enable In Battery Label</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>spoofStorage</string>
			<key>label</key>
			<string>Spoof Storage</string>
		</dict>
		
		<!-- Home Bar -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Homebar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideHomebar</string>
			<key>label</key>
			<string>Hide Homebar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableHomebarHeight</string>
			<key>label</key>
			<string>Enable Homebar Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>homebarHeight</string>
			<key>default</key>
			<real>66</real>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>200</integer>
			<key>showValue</key>
			<true/>
			<key>height</key>
			<real>44</real>
			<key>isSegmented</key>
			<string>true</string>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableHomebarWidth</string>
			<key>label</key>
			<string>Enable Homebar Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>homebarWidth</string>
			<key>default</key>
			<real>175</real>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>400</integer>
			<key>showValue</key>
			<true/>
			<key>height</key>
			<real>44</real>
			<key>isSegmented</key>
			<string>true</string>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableHomebarRadius</string>
			<key>label</key>
			<string>Enable Homebar Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>homebarRadius</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>height</key>
			<real>44</real>
			<key>isSegmented</key>
			<string>true</string>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableHomebarColour</string>
			<key>label</key>
			<string>Enable Homebar Colour</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.sangster.sbcustomize</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Your Homebar Colour</string>
			<key>key</key>
			<string>homebarColour</string>
		</dict>

		<!-- Icons -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>removeLabels</string>
			<key>label</key>
			<string>Hide Icon Labels</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideBadges</string>
			<key>label</key>
			<string>Hide Icon Badges</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideBetaDots</string>
			<key>label</key>
			<string>Hide Beta Dots</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideUpdateDots</string>
			<key>label</key>
			<string>Hide Update Dots</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideCloudIcon</string>
			<key>label</key>
			<string>Hide Cloud Icon</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>hideApps</string>
			<key>label</key>
			<string>Make Apps Invisible</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>squareApps</string>
			<key>label</key>
			<string>Make Apps Square</string>
		</dict>

		<!-- Custom Status Bar-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Statusbar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableCustomCarrier</string>
			<key>label</key>
			<string>Enable Carrier Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Carrier Text:</string>
			<key>key</key>
			<string>carrierText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableCustomBatteryText</string>
			<key>label</key>
			<string>Enable Battery Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Battery Text:</string>
			<key>key</key>
			<string>batteryText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableCustomTimeText</string>
			<key>label</key>
			<string>Enable Time Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Time Text:</string>
			<key>key</key>
			<string>timeText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
			<key>key</key>
			<string>enableCustomCarrierStatusText</string>
			<key>label</key>
			<string>Enable Carrier Status Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sangster.sbcustomize/ReloadPrefs</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Carrier Status Text:</string>
			<key>key</key>
			<string>carrierStatusText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomize</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to save changes</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respring</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Sangster5</string>
			<key>subtitle</key>
			<string>Developer</string>
			<key>url</key>
			<string>https://github.com/sangster-5</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>@DevBedtime on Twitter</string>
			<key>subtitle</key>
			<string>Icon, Logo and Banner.</string>
			<key>url</key>
			<string>https://twitter.com/DevBedtime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Sangster5</string>
			<key>subtitle</key>
			<string>Appreciated</string>
			<key>url</key>
			<string>https://paypal.me/sangster5</string>
		</dict>
	</array>
	<key>title</key>
	<string>SBCustomize</string>
</dict>
</plist>
