Package: sangster
Name: SBCustomize
Version: 0.5.0
Architecture: iphoneos-arm
Description: Tweak that allows you to customize iOS in many ways for free. Supports iOS 13-14.
Maintainer: Sangster5
Author: Sangster5
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.11)
