Package: sangster
Name: SBCustomize
Architecture: iphoneos-arm
Description: Tweak that allows you to customize iOS in many ways for free.
Maintainer: Sangster5
Author: Sangster5
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.8
Installed-Size: 372
