<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SBCustomize Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Home Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hidePageDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideDockBG</string>
			<key>label</key>
			<string>Hide Dock Background (Respring)</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideDock</string>
			<key>label</key>
			<string>Hide Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideNoti</string>
			<key>label</key>
			<string>Hide Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideOldNoti</string>
			<key>label</key>
			<string>Hide No Older Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideFaceIDLock</string>
			<key>label</key>
			<string>Hide FaceID Lock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>removeStatusBar</string>
			<key>label</key>
			<string>Hide Statusbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>spoofStorage</string>
			<key>label</key>
			<string>Spoof Storage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>removeLabels</string>
			<key>label</key>
			<string>Hide Icon Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideBadges</string>
			<key>label</key>
			<string>Hide Icon Badges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideBetaDots</string>
			<key>label</key>
			<string>Hide Beta Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideUpdateDots</string>
			<key>label</key>
			<string>Hide Update Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideCloudIcon</string>
			<key>label</key>
			<string>Hide Cloud Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>hideApps</string>
			<key>label</key>
			<string>Make Apps Invisible</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Statusbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>enableCustomCarrier</string>
			<key>label</key>
			<string>Enable Carrier Text</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Carrier Text:</string>
			<key>key</key>
			<string>carrierText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
            <false/>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
			<key>key</key>
			<string>enableCustomBatteryText</string>
			<key>label</key>
			<string>Enable Battery Text</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>label</key>
            <string>Battery Text:</string>
			<key>key</key>
			<string>batteryText</string>
			<key>defaults</key>
			<string>com.sangster.sbcustomizepreferences</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to save changes</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>action</key>
            <string>respring</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Sangster5</string>
			<key>subtitle</key>
			<string>Developer</string>
			<key>url</key>
			<string>https://github.com/sangster-5</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>@DevBedtime on Twitter</string>
			<key>subtitle</key>
			<string>Icon, Logo and Banner.</string>
			<key>url</key>
			<string>https://twitter.com/DevBedtime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Sangster_5 on Reddit</string>
			<key>subtitle</key>
			<string>Sangster_5</string>
			<key>url</key>
			<string>https://reddit.com/user/sangster_5</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Sangster5</string>
			<key>subtitle</key>
			<string>Appreciated</string>
			<key>url</key>
			<string>https://paypal.me/sangster5</string>
		</dict>
	</array>
	<key>title</key>
	<string>SBCustomize</string>
</dict>
</plist>
